@use "../abstracts/" as *;

#Home {
    width: 100%;
    height: 100vh;
    position: relative;
    .container {
        height: 100%;
        @include flex;
        .row {
            width: 100%;
            .part {
                display: flex;
                flex-direction: column;
                justify-content: center;
                .item {
                    h1 {
                        font-size: 60px;
                        @include respond(350) {
                            font-size: 35px;
                        }
                        @include respond(450) {
                            font-size: 37px;
                        }
                        @include respond(650) {
                            font-size: 45px;
                        }
                        @include respond(1050) {
                            font-size: 50px;
                        }
                    }
                    p {
                        @include respond(350) {
                            font-size: 14px;
                        }
                        @include respond(450) {
                            font-size: 16px;
                        }
                    }
                    h5 {
                        font-size: 1.25rem;
                        color: $secondColor;
                        font-weight: 500;
                        ::after {
                            background-color: $secondColor;
                        }
                        @include respond(350) {
                            font-size: 1.1rem;
                        }
                        @include respond(650) {
                            font-size: 1.2rem;
                        }
                    }

                    .box {
                        @include flex;
                        width: fit-content;
                        cursor: pointer;
                        .icon {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            @include flex;
                            position: relative;
                            overflow: hidden;
                            cursor: pointer;
                            @include respond(350) {
                                width: 40px;
                                height: 40px;
                                font-size: 14px;
                            }
                            @include respond(450) {
                                width: 45px;
                                height: 45px;
                                font-size: 15px;
                            }
                            i {
                                color: $firstColor;
                                transition-duration: 0.5s;
                                position: relative;
                            }
                            &:hover {
                                i {
                                    color: #fff;
                                }
                                &::before {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            &::before {
                                @include createElement(0, 0);
                                @include position($t: 50%, $l: 50%);
                                background-color: $firstColor;
                                transform: translate(-50%, -50%);
                                transition-duration: 0.5s;
                                border-radius: 100%;
                            }
                        }
                        h6 {
                            @include respond(350) {
                                font-size: 14px;
                            }
                            @include respond(450) {
                                font-size: 15px;
                            }
                        }
                    }

                    img {
                        transform: scale(1.1);
                        @include respond(350) {
                            width: 75%;
                            margin: auto;
                        }
                        @include respond(450) {
                        transform: scale(1.3);
                        width: 50%;
                        }
                        @include respond(650) {
                        transform: scale(1.4);
                        width: 40%;
                        }
                        @include respond(850) {
                        transform: scale(2.2);
                        width: 20%;
                        }
                        @include respond(1050) {
                        transform: scale(1);
                        width: 75%;
                        }
                    }
                }
                &:first-child {
                    padding: 0;
                }
                &:last-child {
                    .item {
                        @include flex;
                    }
                }
            }
        }
    }
    > img {
        @include position($b: 0, $l: 0);
        transform: rotateX(180deg) rotateY(180deg);
        width: 100%;
    }
    .arrow-down {
        @include position($b: 20%, $l: 50%);
        transform: translateX(-50%);
        width: 24px;
        @include respond(350) {
        width: 20px;
        bottom: 10%;
        }
        @include respond(1050) {
        width: 20px;
        bottom: 15%;
        }

        img {
            top: 0;
            position: absolute;
            animation-duration: 2s;
            animation-name: arrowDown1;
            animation-iteration-count: infinite;
            &:nth-of-type(2) {
                animation-name: arrowDown2;
            }
            &:nth-of-type(3) {
                animation-name: arrowDown3;
            }
        }
    }
}
